:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to bottom right, #36343B, #36343B);
  transition: background-image 5s ease;
}

body {
  margin: 0;
  display: flex column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
